 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/IMG_20211011_132236.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 274px 56px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
} .u-section-2 {
  min-height: 66px;
}

.u-section-2 .u-sheet-1 {
  min-height: 655px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 656px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 65px 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 2.2;
  width: 356px;
  margin: 32px auto 0;
}

.u-section-2 .u-text-3 {
  width: 356px;
  margin: 32px auto 0;
}

.u-section-2 .u-image-1 {
  min-height: 655px;
  pointer-events: auto;
  background-image: url("images/20211011_140926.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 318px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 541px;
  }

  .u-section-2 .u-text-2 {
    width: 350px;
  }

  .u-section-2 .u-text-3 {
    width: 350px;
  }

  .u-section-2 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 66px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    width: 300px;
  }

  .u-section-2 .u-text-3 {
    width: 300px;
  }

  .u-section-2 .u-image-1 {
    min-height: 414px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-image-1 {
    min-height: 621px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    min-height: 391px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 576px;
}

.u-section-3 .u-text-1 {
  margin: 70px auto 0;
}

.u-section-3 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
  font-size: 1.875em;
}

.u-section-3 .u-list-1 {
  width: 622px;
  grid-template-rows: auto auto auto;
  margin: 15px 235px 25px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 367px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    margin-right: 98px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 115px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 880px;
}

.u-section-4 .u-text-1 {
  margin: 22px 341px 0 auto;
}

.u-section-4 .u-icon-1 {
  color: rgb(35, 31, 32) !important;
  font-size: 1.875em;
}

.u-section-4 .u-list-1 {
  width: 622px;
  grid-template-rows: auto auto auto;
  margin: 63px 235px 60px auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 613px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 29px;
}

.u-section-4 .u-icon-2 {
  height: 46px;
  width: 82px;
  margin: 35px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: -46px 4px 0 113px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 29px;
}

.u-section-4 .u-icon-3 {
  height: 46px;
  width: 82px;
  margin: 35px auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: -46px 4px 0 113px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 29px;
}

.u-section-4 .u-icon-4 {
  height: 46px;
  width: 82px;
  margin: 35px auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: -46px 4px 0 113px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 281px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 215px;
  }

  .u-section-4 .u-list-1 {
    margin-right: 98px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 161px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-right: 101px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 664px;
}

.u-section-5 .u-text-1 {
  margin: 54px auto 0;
}

.u-section-5 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
  font-size: 1.875em;
}

.u-section-5 .u-list-1 {
  width: 622px;
  grid-template-rows: auto auto auto;
  margin: -14px auto 50px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 133px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-5 .u-text-2 {
  margin: 6px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 115px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-list-1 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 538px;
}

.u-section-6 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-6 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
  font-size: 1.875em;
}

.u-section-6 .u-list-1 {
  width: 622px;
  grid-template-rows: auto auto auto;
  margin: 20px auto 50px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 122px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 20px;
}

.u-section-6 .u-text-2 {
  margin: -64px 0 0 115px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-list-1 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 542px;
}

.u-section-7 .u-text-1 {
  margin: 55px auto 0;
}

.u-section-7 .u-list-1 {
  width: 1093px;
  margin: 31px auto 40px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: 20% 20% 20% 20% 20%;
  min-height: 364px;
  grid-gap: 0px 0px;
}

.u-section-7 .u-container-layout-1 {
  padding: 25px 30px 0;
}

.u-section-7 .u-text-2 {
  text-transform: none;
  margin: 1px auto 0;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-7 .u-text-4 {
  font-style: italic;
  margin: 23px 1px 0 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 25px 30px 0;
}

.u-section-7 .u-text-5 {
  text-transform: none;
  font-size: 1.5rem;
  margin: 1px auto 0;
}

.u-section-7 .u-text-6 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-7 .u-text-7 {
  font-style: italic;
  margin: 23px 1px 0 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 25px 30px 0;
}

.u-section-7 .u-text-8 {
  text-transform: none;
  font-size: 1.5rem;
  margin: 1px auto 0;
}

.u-section-7 .u-text-9 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-7 .u-text-10 {
  font-style: italic;
  margin: 23px 1px 0 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 25px 30px 0;
}

.u-section-7 .u-text-11 {
  text-transform: none;
  font-size: 1.5rem;
  margin: 1px auto 0;
}

.u-section-7 .u-text-12 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-7 .u-text-13 {
  font-style: italic;
  margin: 23px 1px 0 0;
}

.u-section-7 .u-container-layout-5 {
  padding: 25px 30px 0;
}

.u-section-7 .u-text-14 {
  text-transform: none;
  font-size: 1.5rem;
  margin: 1px auto 0;
}

.u-section-7 .u-text-15 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-7 .u-text-16 {
  font-style: italic;
  margin: 23px 1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-7 .u-list-1 {
    height: auto;
    width: 940px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 313px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
  }

  .u-section-7 .u-text-7 {
    margin-right: 0;
  }

  .u-section-7 .u-text-10 {
    margin-right: 0;
  }

  .u-section-7 .u-text-13 {
    margin-right: 0;
  }

  .u-section-7 .u-text-16 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1306px;
  }

  .u-section-7 .u-list-1 {
    width: 720px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 799px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-list-1 {
    width: 540px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1348px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-list-1 {
    width: 340px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 749px;
}

.u-section-8 .u-text-1 {
  margin: 110px auto 0;
}

.u-section-8 .u-gallery-1 {
  height: 423px;
  margin-top: 67px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
}

.u-section-8 .u-gallery-item-1 {
  margin-right: 17px;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-2 {
  margin-right: 17px;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-3 {
  margin-right: 17px;
}

.u-section-8 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-4 {
  margin-right: 17px;
}

.u-section-8 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-5 {
  margin-right: 17px;
}

.u-section-8 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-6 {
  margin-right: 17px;
}

.u-section-8 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-7 {
  margin-right: 17px;
}

.u-section-8 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-8 {
  margin-right: 17px;
}

.u-section-8 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-9 {
  margin-right: 17px;
}

.u-section-8 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-10 {
  margin-right: 17px;
}

.u-section-8 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-11 {
  margin-right: 17px;
}

.u-section-8 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-8 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
    grid-gap: 17px 17px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}